body {
    font-size: 14px;
    line-height: 1.4;
    font-family: var(--font-poppins);
    color: var(--gray-color);
    background-color: var(--white-color);
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    transition: 0.2s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #a43664;
}

li {
	list-style: none;
}

.section--title {
	font-size: 50px;
	color: var(--black-color);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: 2px;
}

.section--bg {
	background-color: #f4f4f4;
}

.section--basic {
    padding: 50px 0;
}

img {
    display: block;
    max-width: 100%;
}
.fa-shopping-cart{
    color: black;
}

.btn--link {
	position: relative;
	padding: 12px 22px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
	color: var(--gray-color);
}
.btn--link:hover {
	transform: translateY(10px);
}
.btn--link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 60px);
	height: 100%;
	border: 2px solid transparent;
	border-bottom-color: inherit;
	transition: all 0.2s ease;
}
.btn--link:hover::after {
	width: 100%;
	border-color: inherit;
	transition: all 0.2s ease-out;
}






