@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
	--primary-color: #c14679;
	--second-color: #ebd2dc;
	--white-color: #fff;
	--gray-color: #777777;
	--black-color: #151515;
	--light-color: #cccccc;
	--greyish-color: #dedede;
	--bg-light-color: #f5f5f5;
	--red-color: #ba0001;
	--success-color: #7a9c59;
	--hover-color: #a43664;
	--border-color: #c14679;
	--border-gray-color: #e1e1e1;
	--border-light-color: #f5f5f5;
	--box-shadow-item: rgba(149, 157, 165, 0.6) 0px 12px 24px;
	--box-shadow-light: rgba(149, 157, 165, 0.3) 0px 22px 24px;
	--box-shadow-header: 0 1px 5px var(--gray-color);
	--box-shadow-menu: 0 3px 5px var(--gray-color);

	--quote-padding: 68px;

	--spacing: 30px;
	--spacing-100: 100px;
	--column-2: 2;
	--column-3: 3;
	--column-4: 4;
	--column-5: 5;

	--font-lato: "Lato", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--font-great: "Great Vibes", cursive;
}

.nav__top {
	display: flex;
	align-items: center;
	height: 120px;
}

.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 576px) {
    .wide {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wide {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .wide {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wide {
        max-width: 1200px;
    }
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-location {
	display: flex;
	align-items: center;
	flex: 1;
}
.nav-location__wrap i {
	font-size: 45px;
	color: #4f4b43;
}
.nav-location__wrap a {
	font-family: var(--font-lato);
	color: #4f4b43;
	line-height: 1.7;
	margin-left: 5px;
	transition: 0.3s;
}

.nav-location__wrap a:hover {
	text-decoration: none;
    color: #a43664;
}

.nav-logo {
	flex: 2;
	display: flex;
	justify-content: center;
}
.nav-logo__link {
	width: 230px;
	height: 50px;
}
.nav-logo__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.nav-button {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.nav-button .re__line {
    border: 0;
    float: left;
    width: 2px;
    height: 20px;
    background: #e5e5e5;
    margin: 15px 0;
}

.nav-button a {
	display: flex;
    color: #4f4b43;
	align-items: center;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    font-family: "Nunito";
    font-weight: bold;
    font-size: 19px;
    line-height: 20px;
    padding: 13px 15px;
    border-radius: 8px;
}

.nav-button a:hover{
    text-decoration: none;
    color: #a43664;
    background: rgba(0,0,0,0);
    border: 1px solid #a43664;
    border-radius: 8px;
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__main {
    height: 75px;
	border-top: 1px solid var(--border-gray-color);
}


.nav__main.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: var(--white-color);
	box-shadow: var(--box-shadow-header);
}

.form-search {
    margin-bottom: 16px;
}

.form-search .form-inline .btn, .form-search .form-inline .form-control{
    border: 1px solid #4f4b43;
    font-weight: 700;
}

.form-search .form-inline .btn:hover {
    background-color: #797475;
}

.nav-menu {
    display: flex;
}

.nav-menu__list {
	display: flex;
	align-items: center;
}
.nav-menu__box {
	display: flex;
	align-items: center;
}
.nav-menu__item:not(:last-child) {
	margin-right: 42px;
}


.nav-menu__item a:hover {
    text-decoration: none;
    color: #a43664;
}

.nav-menu__link {
	position: relative;
	padding: 25px 0;
	color: var(--black-color);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	transition: all 0.3s ease-in-out;
}
.nav-menu__link::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	height: 8px;
	width: 140%;
	background: transparent;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}
.nav-menu__item.active .nav-menu__link::after,
.nav-menu__item:hover .nav-menu__link::after {
	width: 100%;
	background: #4f4b43;
}
.nav-menu__icon {
	font-size: 22px;
	cursor: pointer;
}

.nav-menu__item:hover .nav-dropdown,
.nav-menu__item:hover .nav-megamenu {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.nav-dropdown,
.nav-megamenu {
	position: absolute;
	width: 230px;
	background: var(--white-color);
	padding: 15px 40px;
	margin-left: -20px;
	z-index: 2;
	box-shadow: 0 3px 5px rgb(1 3 4 / 19%);
	opacity: 0;
	visibility: hidden;
	transform: translateY(30px) scale(0.7);
	transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav-dropdown__item:not(:last-child) {
	margin-bottom: 24px;
}
.nav-dropdown__item a,
.nav-megamenu__item a {
	color: var(--black-color);
	width: 100%;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.8;
	transition: all 0.2s ease-in-out;
}


.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

.product__item {
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--column-4)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: 50px;
    position: relative;
    padding: 20px 20px 40px;
    border-radius: 6px;
    background: var(--white-color);
    box-shadow: rgba(149, 157, 165, 0.6) 0px 12px 24px;
    transition: 0.25s ease-in-out;
}

.product__item:hover {
	transform: translateY(-20px);
    box-shadow: rgb(149 157 165 / 60%) 0px 12px 24px;
}

.product__picture {
    min-height: 200px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product__img {
    width: auto;
    height: auto;
}

.product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product__top {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black-color);
}

.product__title a {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-decoration: none;
    color: unset;
    transition: 0.2s ease-in-out;
}

.product__title a:hover {
    text-decoration: none;
    color: #c14679;
}

.descriptions {
    color: var(--black-color);
    font-family: var(--font-lato);
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 1px;
    letter-spacing: 0.5px;
}
.product__descriptions {
    flex-shrink: 0;
    margin-top: auto;
    padding: 6px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product__pricing-wrap {
    flex-shrink: 0;
    margin-top: auto;
}

.product__pricing {
    font-weight: 600;
    font-size: 25px;
    color: var(--primary-color);
}

.product__bottom {
	flex-shrink: 0;
	margin-top: auto;
	display: flex;
	justify-content: center;

	visibility: hidden;
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--white-color);
	border-radius: 0 0 6px 6px;
	transition: 0.25s ease-in-out;
	box-shadow: var(--box-shadow-light);
}
.product__button {
	opacity: 0;
	visibility: hidden;
	transform: scale(0.1) translateY(-20px);
	transition: 0.25s ease-in-out;
}

.product__bottom .btn--icon {
    font-size: 22px;
    width: 50px;
    height: 50px;
    padding: 0 5px;
    border-radius: 50%;
}

.product__bottom .btn--icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.product__button:first-child {
	margin-right: 12px;
}

.product__item:hover .product__bottom {
	visibility: visible;
	top: calc(100% - 20px);
	bottom: -50px;
}
.product__item:hover .product__button {
	opacity: 1;
	visibility: visible;
	transform: scale(2) translateY(0); 
}

.product__item:hover .product__button i:hover {
	color: chocolate;
}
.product__item:hover .product__button:first-child {
	transition-delay: 0.1s;
}
.product__item:hover .product__button:last-child {
	transition-delay: 0.1s;
}
.products__button {
	text-align: center;
}
.fa-shopping-cart{
    color: black;
}
.category-list ul li a{
	font-family: var(--font-lato);
}
.app__container{
	background-color:rgb(196, 196, 196);
}
.category{
	margin: 10px 30px;
	padding: 10px;
	
	background-color: white;

}